<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	 <!-- Configure DataSource -->
	<bean id="oradrds"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="oracle.jdbc.driver.OracleDriver" />
		<property name="url" value="jdbc:oracle:thin:@localhost:1521:xe" />
		<property name="username" value="system" />
		<property name="password" value="manager" />
	</bean>
	<bean id="mysqldrds"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.cj.jdbc.Driver" />
		<property name="url" value="jdbc:mysql:///ntsp713db" />
		<property name="username" value="root" />
		<property name="password" value="root" />
	</bean>
	<!-- Configuring DAO -->
	<bean id="crickdao" class="com.nt.dao.CricketerDAOImpl">
		<constructor-arg ref="oradrds" />	
	</bean>
	
	<bean id="mysqlcrickdao" class="com.nt.dao.MysqlCricketerDAOImpl">
		<constructor-arg ref="mysqldrds" />
	</bean>
	<!-- configuring service -->
	<bean id="crickserv" class="com.nt.service.CricketerMgmtServicImpl">
		<!-- <constructor-arg ref="crickdao" /> -->
		<constructor-arg ref="mysqlcrickdao" />
	</bean>
	<!-- configuring Controller class -->
	<bean id="controller" class="com.nt.controller.MainController">
		<constructor-arg ref="crickserv" />
	</bean>

</beans>
